body {
    font-family: Arial, sans-serif;
    background-color: coral;
    margin: 20px;
}

h1 {
    color: #333;
}

h2{
    color: #333;
    width: 1000px;
    font-weight: bold;
}
label {
    display: inline-block;
    width: 300px;
    font-weight: bold;
}

input[type="number"], input[type="text"] {
    width: 300px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: SteelBlue;
    color: Snow;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: LightGray;
}

.semester-form {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.semester-form h3 {
    margin-top: 0;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 75%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: LightGray;
}

.subject-form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.subject-form label {
    flex: 1;
}

.subject-form input {
    flex: 2;
    margin-right: 10px;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
}
